<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="./js/zepto.js"></script>
<body>

<script>
    $.ajax({
        type: 'GET',
        url: '/projects',
        // data to be added to query string:
        data: { name: 'Zepto.js' },
        // type of data we are expecting in return:
        dataType: 'json',
        timeout: 300,
        context: $('body'),
        success: function(data){
            // Supposing this JSON payload was received:
            //   {"project": {"id": 42, "html": "<div>..." }}
            // append the HTML to context object.
            this.append(data.project.html)
        },
        error: function(xhr, type){
            alert('Ajax error!')
        }
    })

</script>

</body>
</html>