<form action="http://www.qq.com:8888/formData/process" method="POST">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>"> Favorite color: <input type="text" name="favoriteColor">
    <button type="submit">Submit</button>
</form>